@import 'variables';
@import 'fonts';
@import 'animation';

html,
body {
    height: 100%;
    background: $darkGreen;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

html,
body,
section,
div,
h2,
img,
ul,
li,
p,
i,
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    font: inherit;
    font-size: 100%;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    max-width: 645px;
    padding: 10px;
    display: flex;
    flex-flow: column;
}

h2 {
    font-family: 'Operator Mono Medium', Monaco, Consolas, monospace;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 19px;
        letter-spacing: 4px;
    }
}

p,
a {
    font-family: 'Operator Mono Medium Italic', Monaco, Consolas, monospace;
    font-size: 18px;
    color: $red;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    p,
    a {
        font-size: 20px;
    }
}

a,
li a h2 {
    text-decoration: none;
    color: $red;
    transition: all 0.5s ease .2s ease-in-out;
}

a:hover,
li a h2:hover {
    color: $lightGreen;
}

.flex-1 {
    position: relative;
    opacity: 0;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    img {
        width: 100%;
        max-width: 645px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.flex-2 {
    margin-top: 30px;
    position: relative;
    opacity: 0;
    animation-delay: .3s;
    animation-duration: 1s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    ul {
        display: block;
        list-style: none;
        text-align: center;
        li {
            display: block;
            padding: 10px 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .flex-2 ul {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1020px) {
    .flex-2 li {
        padding: 15px 0;
    }
}

.flex-3 {
    margin-top: 30px;
    position: relative;
    opacity: 0;
    animation-delay: .6s;
    animation-duration: 1s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    h2 {
        font-size: 19px;
        color: $lightGreen;
        bottom: 0px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 768px) {
    .flex-3 {
        h2 {
            font-size: 22px;
        }
    }
}

.flex-4 {
    margin-top: 45px;
    position: relative;
    opacity: 0;
    animation-delay: .9s;
    animation-duration: 1s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    a {
        color: $yellow;
    }
}
